h3{
    text-align: center;
}

.signSection{
    width: 500px;
    height: 500px;
    
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    border: 3px solid;
    border-color: #ECECE5;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1px solid green;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

button{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}